@use "../utilities/variables" as var;
@use "../utilities/placeholders";
@use "../utilities/functions" as fn;
@use "../utilities/mixins" as mix;

.nickname-form {
  @include mix.positioning(
    $position: relative,
    $transform: translate(-50%, 40%)
  );

  @extend %flex-center;

  @include mix.mq("md") {
    flex-direction: row;
    gap: 5px;
    transform: translate(-50%, 100%);
  }

  max-width: 400px;
  height: 100px;
  gap: 15px;
  flex-direction: column;
}

.nickname-input {
  @include mix.mq("md") {
    padding: 12px 16px;
  }

  font-size: calc(var.$index / 1.5);
  max-width: 200px;
  padding: 7px 11px;
  border-radius: 8px;
  color: fn.get-color(grey-primary);
  background-color: transparent;
  border: 1px solid fn.get-color(grey-primary);
  border: none;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);

  &:hover,
  &:focus {
    box-shadow: 0 0 0 5px fn.get-color(hover-shadow-primary);
    color: fn.get-color(light-primary);
    text-shadow: 0 0 15px fn.get-color(text-shadow);
  }
}

.nickname-btn {
  @include mix.positioning(
    $position: absolute,
    $transform: translate(-50%, 150%)
  );

  background-color: inherit;
  color: fn.get-color(grey-primary);
  box-shadow: 0 0 0 2px fn.get-color(grey-primary);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);

  &:hover {
    box-shadow: 0 0 0 5px fn.get-color(hover-shadow-primary);
    color: fn.get-color(light-primary);
    text-shadow: 0 0 15px fn.get-color(text-shadow);
  }

  & span:last-child {
    background-color: rgba(255, 255, 255, 0.2509803922);
  }
}
