$colors: (
  "background-color": #000000,
  "grey-primary": #ffffff40,
  "hover-shadow-primary": #4f5a6360,
  "light-primary": #e0e4e7,
  "text-shadow": #78cee1,
);

$breakpoints: (
  "sm": 375px,
  "md": 768px,
  "lg": 1263px,
);

$index: calc(1vw + 1vh);

$p: calc(10vw + 10vh);
