@use "../utilities/variables" as var;

$fonts: var.$font-weights;

@each $key, $value in $fonts {
  @font-face {
    font-family: "Raleway";
    src:
      url(../../fonts/Raleway-#{$key}.woff) format("woff"),
      url(../../fonts/Raleway-#{$key}.woff) format("woff2");
    font-weight: $value;
    font-size: normal;
    font-display: swap;
  }
}
