@use "../utilities/variables" as var;
@use "../utilities/placeholders";
@use "../utilities/functions" as fn;
@use "../utilities/mixins" as mix;

.header {
  position: relative;
}

.layers {
  @extend %flex-center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  z-index: 2;
  text-transform: uppercase;
  font-weight: 900;
  text-align: center;
}

.layer-header {
  z-index: 2;
  transform: translate3d(0, calc(var(--scrollTop) / 2), 0);
  will-change: transform;
  color: fn.get-color(light-primary);
  text-shadow: 0 0 15px fn.get-color(text-shadow);
}

.layer-header-title {
  font-size: calc(var.$index * 2);
}

.layer-header-caption {
  font-size: calc(var.$index);
}

.layer {
  height: 100%;
  width: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
  will-change: transform;
}

.layers-base {
  transform: translate3d(0, calc(var(--scrollTop) / 3), 0);
}

.layers-middle {
  transform: translate3d(0, calc(var(--scrollTop) / 6), 0);
}

.layers-front {
  transform: translate3d(0, calc(var(--scrollTop) / 7.3), 0);
  z-index: 4;

  &::after {
    content: "";
    position: absolute;
    z-index: 3;
    width: 100%;
    height: calc(var.$index * 9);
    background-image: url(../image/main-layer3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    bottom: calc((var.$index) * -4.4);
    right: 25px;
  }
}
