@use "../utilities/mixins" as mix;
@use "../utilities/variables" as var;

main {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  transform: translate3d(0, calc(var(--scrollTop) / 3), 0);
}

.main-cover {
  padding-top: 200px;
  position: relative;
  @include mix.mq(md) {
    padding-top: 150px;
  }
}
